AZURE_SQL_SERVER=<nome-do-servidor>
AZURE_SQL_DATABASE=<nome-do-banco>
AZURE_SQL_USERNAME=<usuario>
AZURE_SQL_PASSWORD=<senha>

AZURE_STORAGE_CONNECTION_STRING=<sua-string-de-conexao-do-storage>
AZURE_CONTAINER_NAME=<nome-do-container>

